.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.input {
  border: none;
  padding: 4%;
  width: 85%;
  font-size: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #000000;
  padding: 0%;
  display: inline-block;
  border-color: black;
  width: 15%;
  font-family: monospace;
  font-weight: 500;
  letter-spacing: 2px;
  transition-duration: 0.25s;
}
.sendButton:hover {
  cursor: pointer;
  background: #4a4aeae8;
  transition-duration: 0.25s;
}

@media (max-width: 1200px) {
  .sendButton {
    font-size: 70%;
  }
}
