.form {
  display: flex;
  z-index: 100;
}

.EmojiButton {
  border-radius: 20px;
  height: 40px;
  margin: 15px 0px 0px 0px;
  padding: 6px;
  transition-duration: 0.2s;
  border-color: #00000061;
}
.EmojiButton:hover {
  cursor: pointer;
  color: #4a4aeae8;
  transition-duration: 0.2s;
  border-color: #4a4aeae8;
}

.listEmoji {
  display: grid;
  position: absolute;
  overflow-y: scroll;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
  box-shadow: 1px 1px 20px black;
  height: 20%;
  margin: -70px 0px 0px 4px;
  z-index: 200;
}
.listEmoji::-webkit-scrollbar {
  display: none;
}

.emoji {
  width: 56px;
  height: 50px;
  padding: 1px;
  border-radius: 5px;
  z-index: 200;
}
.emoji:hover {
  background-color: white;
  cursor: pointer;
}

.input {
  padding: 2.5%;
  width: 85%;
  font-size: 100%;
  margin: 8px 5px 8px 12px;
  font-family: monospace;
  border-radius: 30px;
  border-color: rgba(0, 0, 0, 0.3215686274509804);
  box-shadow: 1px 1px 20px 0 rgb(0 0 0 / 28%);
  z-index: 100;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.fileUpload {
  z-index: 300;
  position: absolute;
  margin: -8%;
  display: flex;
  padding: 1%;
  flex-direction: row;
  align-items: center;
  background: black;
  border-radius: 10px;
  box-shadow: 1px 1px 20px black;
}

.uploadButton {
  width: 6%;
  margin: 2%;
  border-radius: 30px;
  transition-duration: 0.2s;
  border-color: #00000061;
  padding: 0px;
}
.uploadButton:hover {
  cursor: pointer;
  color: #4a4aeae8;
  transition-duration: 0.2s;
  border-color: #4a4aeae8;
}

.imgPreview {
  width: 75px;
  height: 75px;
}

.sendButton {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  width: 8%;
  transition-duration: 0.2s;
  margin: 8px 8px 13px 10px;
  border-radius: 30px;
  box-shadow: 1px 1px 20px 0 rgb(0 0 0 / 28%);
  border-color: #00000061;
  padding-top: 4px;
}
.sendButton:hover {
  cursor: pointer;
  color: #4a4aeae8;
  border-color: #4a4aeae8;
  transition-duration: 0.2s;
}

@media (max-width: 1200px) {
  .sendButton {
    font-size: 70%;
    margin: 0% 5% 0% 0%;
    border: none;
    box-shadow: none;
    background: none;
  }

  .uploadButton {
    margin: 2% 3% 0% 0%;
    border: none;
    box-shadow: none;
    background: none;
  }

  .fileUpload {
    overflow: hidden;
    margin: -26%;
    width: 50%;
    padding: 2%;
  }

  .input {
    font-size: 80%;
  }

  .listEmoji {
    display: none;
  }

  .emoji {
    display: none;
  }

  .EmojiButton {
    display: none;
  }
}
