.textContainer {
  color: white;
  font-family: monospace;
  margin: 1%;
  font-size: 140%;
}

.activeContainer {
  display: flex;
  align-items: center;
}

.activeItem {
  display: flex;
  align-items: center;
}

.activeContainer img {
  padding-left: 10px;
}

.textContainer h1 {
  margin-bottom: 0px;
}

@media (max-width: 1200px) {
  .textContainer {
    font-size: 100%;
  }
}

@media (max-width: 480px) {
  .textContainer {
    font-size: 100%;
  }
}
