.messageBox {
  padding: 1.5%;
  color: white;
  display: inline-block;
  max-width: 60%;
  border-radius: 12px;
}

.messageBox > img {
  max-width: 100%;
  height: auto;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1em;
  word-wrap: break-word;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;

  width: 90%;

  margin-left: 5%;
  margin-top: 1%;
  align-items: center;
}

.sentText {
  font-family: monospace;
  color: #828282;
  font-size: 90%;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.colorWhite {
  color: white;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: #4a4aeae8;
}

.backgroundLight {
  background: #f3f3f3;
}

@media (max-width: 1200px) {
  .messageText {
    font-size: 90%;
  }
}

@media (max-width: 480px) {
  .sentText {
    padding-right: 3% !important;
    padding-left: 3% !important;
  }

  .messageContainer {
    margin-bottom: 2%;
  }

  .messageBox {
    padding: 2.5%;
  }
}
