html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #5858e3;
  overflow: hidden;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.heading {
  animation: Slide_up 2s ease;
}

.joinInput {
  animation: Slide_up 2.1s ease;
}

.button {
  animation: Slide_up 2.2s ease;
  letter-spacing: 6px;
  color: white;
}
.button:hover {
  transition-duration: 0.25 s;
  border: solid;
  color: black;
  border-width: 2px;
  border-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 20px #0000006b;
}

.toggleParticleButtonJoin {
  letter-spacing: 5px;
  margin-top: 5%;
  animation: Slide_up 2.3s ease;
  color: white;
}
.toggleParticleButtonJoin:hover {
  transition-duration: 0.25 s;
  border: solid;
  border-width: 2px;
  color: black;
  border-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 20px #0000006b;
}

@media (min-width: 1025px) {
  @keyframes Slide_up {
    0% {
      transform: translateY(1500px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@media (max-width: 1025px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 80%;
  }
  .particles {
    display: none;
  }
}

@media (max-width: 1200px) {
  .particles {
    display: none;
  }

  .toggleParticleButtonJoin {
    display: none;
  }
}
