html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #5858e3;
  overflow: hidden;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  align-items: center;
  background-color: #5858e3;
  position: relative;
  z-index: 100;
}

.joinInnerContainer {
  width: 30%;
}

.joinInput {
  width: 100%;
  border: none;

  font-size: 15px;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  text-transform: uppercase;
}

.button {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #000000;
  padding: 15px;
  display: inline-block;
  border-color: #000000;
  width: 100%;
  transition-duration: 0.25s;
  font-size: 17px;
  letter-spacing: 8px;
  border-width: 2px;
}
.button:hover {
  background: none;
  transition-duration: 0.25 s;
  color: black;
  border-color: white;
  border-radius: 15px;
  box-shadow: 1px 1px 20px #0000006b;
}

.toggleParticleButtonJoin {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #000000;
  padding: 12px;
  padding-right: 0;

  border-color: transparent;
  width: 60%;
  transition-duration: 0.25s;
  font-size: 14px;
  letter-spacing: 5px;
  margin-top: 5%;
}
.toggleParticleButtonJoin:hover {
  background: none;
  transition-duration: 0.25 s;
  color: black;
  border-color: white;

  border-radius: 15px;
  box-shadow: 1px 1px 20px #0000006b;
}

@media (max-width: 1025px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 80%;
  }
  .particles {
    display: none;
  }
}

@media (max-width: 1200px) {
  .particles {
    display: none;
  }

  .toggleParticleButtonJoin {
    display: none;
  }
}
