html,
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #5858e3;
}

.joinInnerContainer {
  width: 20%;
}

.joinInput {
  padding: 15px 20px;
  width: 100%;
  border-color: black;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  text-transform: uppercase;
}

.button {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #000000;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
  transition-duration: 0.25s;
}
.button:hover {
  background: #5858e3;
  transition-duration: 0.25s;
  font-size: 15px;
  border-radius: 10px;
  letter-spacing: 1px;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100%;
  }

  .joinInnerContainer {
    width: 90%;
  }
}

button:focus {
  outline: 0;
}
