.messages {
  padding: 5% 0;
  flex: auto;
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for IE, Edge and Firefox */
.messages {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.messages::-webkit-scrollbar {
    display: none;
}
