.outerContainer {
  display: flex;
  justify-content: space-around;
  height: 100%;
  background-color: #5858e3;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 90%;
  width: 40%;
  font-family: monospace;
  font-size: 15px;
}

@media (max-width: 1200px) {
  .container {
    width: 80%;
    height: 70%;
  }
  .outerContainer {
    display: flex;
    justify-content: space-between;
    height: 1000px;
    background-color: #5858e3;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 10%;
  }
}
