body {
  overflow: hidden;
}

.App {
  height: 100vh;
  width: 100%;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
  padding: 2%;
}

.particles {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.outerContainer {
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  z-index: 100;
}
.outerContainer::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 30px;
  height: 90%;
  width: 45%;
  font-family: monospace;
  font-size: 15px;
  box-shadow: 1px 1px 20px 0px #00000047;
  width: 50% !important;
  animation: Slide_left 2s;
}
.container::-webkit-scrollbar {
  display: none;
}

.rightContainer {
  flex-direction: column;
  width: 25%;
  font-size: 110%;
  animation: Slide_up 2.5s;
}

.toggleParticleButtonChat {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #000000;
  padding: 10px;
  border-radius: 20px;
  border-color: transparent;
  width: 60%;
  transition-duration: 0.25s;
  font-size: 13px;
  border-width: 1px;
  letter-spacing: 4px;
  margin: 2%;
}
.toggleParticleButtonChat:hover {
  background: none;
  transition-duration: 0.25 s;

  border-color: white;
  border-width: 2px;

  box-shadow: 1px 1px 20px #0000006b;
}
.buttonContainer {
  display: flex;
  /* align-self: center; */
  max-width: 100%;
  margin-top: 5%;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1025px) {
  @keyframes Slide_up {
    0% {
      transform: translateY(1500px);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes Slide_left {
    0% {
      transform: translateX(2500px);
    }
    100% {
      transform: translateX(0);
    }
  }
}

@media (max-width: 1200px) {
  .container {
    width: 80%;
    height: 70%;
  }

  .outerContainer {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;
    align-items: center;
    /* padding-top: 10%; */
    flex-direction: column;
  }

  .particles {
    display: none !important;
  }

  .buttonContainer {
    display: none;
  }

  .rightContainer {
    width: 25%;
  }
}

@media (max-width: 800px) {
  .container {
    width: 80% !important;
  }

  .navbar {
    border: none !important;
  }
  .navbar,
  a {
    display: flex;
    background: transparent;
    margin-left: 10%;
    margin-right: 10%;
    padding: 3%;
    text-decoration: none;
    justify-content: center;
    margin-bottom: 0%;
    padding-bottom: 0%;
  }
  .navbar,
  a:hover {
    color: black;
  }

  .rightContainer {
    width: 60%;
  }
}
